$white:#FFFFFF;
$grey:#333;
$font:'Open Sans';
$bluish:#428bca;
$whitish:#cdddeb;
$greyish:#fff;
$greyer:#f5f5f5;
$black:#000000;
$yellowSi:#FFCB05;
$footer:#272727;
$blog:#999;
$border:#e5e5e5;
$borderBox:#ccc;
$nav:#f5f5f5;